@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow-x: hidden;
        font-family: 'NotoSansRegular';
    }
}

/* @layer components {
    .my-custom {
        @apply text,
        border: 1px solid red;
    }
} */
