@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow-x: hidden;
        font-family: 'NotoSansKRRegular';
        font-weight: 400;
    }
    * {
        word-break: keep-all;
        word-wrap: break-word;
        box-sizing: border-box;
    }
}

@layer components {
    .codingTest ::-webkit-scrollbar {
        width: 8px;
    }
    .codingTest ::-webkit-scrollbar-thumb {
        background: #3d4c5e;
    }
}
