@font-face {
    font-family: 'NotoSansKRThin';
    font-weight: 100;
    src: url('../fonts/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKRLight';
    font-weight: 300;
    src: url('../fonts/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKRRegular';
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKRMedium';
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium.oft') format('opentype');
}
@font-face {
    font-family: 'NotoSansKRBold';
    font-weight: 700;
    src: url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKRBlack';
    font-weight: 900;
    src: url('../fonts/NotoSansKR-Black.otf') format('opentype');
}
